name: Upload artifacts
on:
  push:
    tags:
      - '*.*.*'

jobs:
  Create_documentation:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Set up Git repository
        uses: actions/checkout@v4
      - name: install packages
        run: sudo apt update && sudo apt upgrade -y && sudo apt install mingw-w64 -y

      - name: compile
        run: |
          /usr/bin/x86_64-w64-mingw32-g++-win32 -std=c++20 -Wall -fdiagnostics-color=always -static -o output.exe *.cpp
          g++ -std=c++20 -Wall -o output.out *.cpp
          mv output.out main.out
          mv output.exe main.exe

      - name: release the compiled program
        if: startsWith(github.ref, 'refs/tags/')
        uses: ncipollo/release-action@v1
        with:
          artifacts: "main.exe,main.out"
          allowUpdates: true

